@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

body {
    font-family: 'Red Hat Display', sans-serif;
    color: #717FA6;
    background-color: #E0E8FF;
}
main {
    box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.1518);
    width: 327px;
    border-radius: 20px;
    overflow: hidden;
}

#card-info-container {
    background-color: white;
}

h1 {
    font-size: 22px;
    font-weight: 900;
    line-height: 29px;
    color: black;
}

#description {
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
}
#cost-detail-container {
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    background-color: #F7F9FF;
}

#cost-detail-container h2 {
    font-weight: 900;
    color: black
}

#cost-detail-container a {
    font-weight: 700;
}
button {
    color: white;
    background-color: #382AE1;
    border: none;
    border-radius: 11px;
    height: 50px;
    width: 279px;
    font-size: 15px;
    font-weight: 900;
    line-height: 20px;
    box-shadow: 0px 20px 20px 0px rgba(56, 42, 225, 0.1903);
}
#cancel {
    font-size: 15px;
    font-weight: 900;
    line-height: 20px;
    text-decoration: none;
    color: #717FA6;
}



@media screen and (min-width: 650px) {
    main {
        width: 450px;
    }
    h1 {
        font-size: 28px;
        line-height: 37px;
    }
    #description {
        font-size: 16px;
        line-height: 26px;
    }
    #cost-detail-container {
        font-size: 16px;
        line-height: 21px;
    }
    
    #cost-detail-container a {
        font-size: 14px;
    }
    button {
        width: 354px;
    }
}





footer { 
    font-size: 11px; 
    text-align: center; 
}
footer a { 
    color: hsl(228, 45%, 44%); 
}